body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    padding: 0;
}

#colorBox {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
}

.exampleBox {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    background-color: gray;
}

#content {
    color: black;
    background-color: wheat;
    padding: 1rem;
}

#toggleDM {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: burlywood;
    color: white;
    outline: none;
}

.dark-mode {
    color: wheat !important;
    background-color: gray !important;
}

#runaway {
    background-color:skyblue;
    color: #fff5c4;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem;
    border: 1.5px solid #fff5c4;
    outline: none;
    transition: all .25s, top .25s, left .25s;
    position: relative;
    top: 0px;
    left: 0px;
}

#runaway:hover {
    background-color: white;
    border-color: gray;
    color: turquoise;
}